
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soundboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Soundboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of items">
    <img [src]="item['imageURL']" />
    <ion-card-header>
      <ion-card-subtitle>{{item["text"]}}</ion-card-subtitle>
      <ion-card-title>{{item["author"]}}</ion-card-title>
    </ion-card-header>
    <ion-button expand="block" (click)="playSound(item.soundPath)">
      <ion-icon name="volume-high-sharp"></ion-icon>
    </ion-button>
  </ion-card>
  
</ion-content>
