<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soundboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Soundboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/images/calvin.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Iiiä</ion-card-subtitle>
      <ion-card-title>Calvin</ion-card-title>
    </ion-card-header>
    <ion-button expand="block">
      <ion-icon name="volume-high-sharp"></ion-icon>
    </ion-button>
  </ion-card>
  
</ion-content>
